[submodule "libs/di"]
	path = libs/di
	url = https://github.com/boost-experimental/di.git
[submodule "libs/msm-lite"]
	path = libs/msm-lite
	url = https://github.com/boost-experimental/msm-lite.git
[submodule "libs/range-v3"]
	path = libs/range-v3
	url = https://github.com/ericniebler/range-v3.git
